/*                                                     ''~``
 * @(#)tris.rc 1.0  2008/07/29                        ( o o )
 * +---------------------------------------------.oooO--(_)--Oooo.----+
 * |   ________        _________________.________                     |
 * |  /  _____/  ____ /   _____/   __   \   ____/                     |
 * | /   \  ___ /  _ \\_____  \\____    /____  \                      |
 * | \    \_\  (  <_> )        \  /    //       \                     |
 * |  \______  /\____/_______  / /____//______  /                     |
 * |         \/              \/               \/                      |
 * | Copyright (c) 2008 by                                            |
 * | Alessandro Fraschetti (gos95@gommagomma.net)                     |
 * |                                                                  |
 * | Project...: YATris - Yet Another Tris Implementation             |
 * | Module....: resource file                                        |
 * | Author....: Alessandro Fraschetti                                |
 * | Notes.....:                                                      |
 * |                                              .oooO               |
 * |                                             (     )    Oooo.     |
 * +-----------------------------------------------\  (----(    )-----+
 *                                                  \_ )    )  /
 * For more information about YaTris visit:                ( _/
 *     http://gommagomma.net/gos95/YATris
 *
 *  This program is free software; you can redistribute it and/or
 *  modify it under the terms of the GNU General Public License as 
 *  published by the Free Software Foundation; either version 2 of the
 *  License, or (at your option) any later version. 
 *
 *  This program is distributed in the hope that it will be useful, but
 *  WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 *  General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, see <http://www.gnu.org/licenses/>.
 */


#ifndef __BORLANDC__
#include <windows.h>
#endif

#include "resource.h"


STRINGTABLE DISCARDABLE
BEGIN
  IDC_APP_WCLASSNAME		"YATris"
  IDS_APP_TITLE				"YATris"
  IDS_HUMAN_PLAYER			"Human"
  IDS_COMPUTER_PLAYER		"Computer"
  IDS_PLAYER1_DEF_NAME		"Player 1"
  IDS_PLAYER2_DEF_NAME		"Player 2"
END


IDR_APP_MENU MENU
BEGIN
  POPUP "&Game"
  BEGIN
    MENUITEM "&New Game",					ID_CMD_NEW
	MENUITEM SEPARATOR
    MENUITEM "&Options",					ID_CMD_OPTIONS
	MENUITEM SEPARATOR
    MENUITEM "E&xit",						ID_CMD_EXIT
  END
  POPUP "&?"
  BEGIN
    MENUITEM "&About YaTris...",			ID_CMD_ABOUT
  END
END


IDD_OPTIONS DIALOG DISCARDABLE  0, 0, 227, 177
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Options"
FONT 8, "MS Sans Serif"
BEGIN
	GROUPBOX        " Player 1 ",IDC_STATIC,13,12,200,39
    LTEXT           "Name",IDC_STATIC,18,22,20,9
	EDITTEXT        IDC_EDIT_PLAYER_1,17,31,106,13,ES_LEFT | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL
    LTEXT           "Type",IDC_STATIC,133,22,15,9
	COMBOBOX        IDC_COMBO_PLAYER_1,133,31,76,45,CBS_DROPDOWN | WS_TABSTOP | WS_VSCROLL

	GROUPBOX        " Player 2 ",IDC_STATIC,13,55,200,39
    LTEXT           "Name",IDC_STATIC,18,65,20,9
    EDITTEXT        IDC_EDIT_PLAYER_2,17,74,106,13,ES_LEFT | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL
    LTEXT           "Type",IDC_STATIC,134,65,15,9
    COMBOBOX        IDC_COMBO_PLAYER_2,134,74,76,45,CBS_DROPDOWN | WS_TABSTOP | WS_VSCROLL

    GROUPBOX        " Level ",IDC_STATIC,13,102,200,34
    CONTROL         "Easy",IDC_RADIO_LEVEL_1,"Button",BS_AUTORADIOBUTTON | WS_GROUP,31,116,44,9
    CONTROL         "Medium",IDC_RADIO_LEVEL_2,"Button",BS_AUTORADIOBUTTON | WS_GROUP,93,116,44,9
    CONTROL         "Hard",IDC_RADIO_LEVEL_3,"Button",BS_AUTORADIOBUTTON | WS_GROUP,155,116,44,9

	PUSHBUTTON      "Cancel",IDCANCEL,124,147,50,14
    PUSHBUTTON      "Ok",IDOK,58,147,50,14
END


IDD_ABOUT DIALOG 0,0,239,87
CAPTION "About YaTris"
FONT 8, "MS Sans Serif"
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
BEGIN
  GROUPBOX		" About... ",IDC_STATIC,10,8,220,69
  CTEXT			"\tGOS95 YAT r i s    0.1 07/2008\n\n\n\rCopyright (c) Alessandro Fraschetti\n\r(www.gommagomma.net/gos95/YATris)",IDC_STATIC,18,22,132,47
  PUSHBUTTON	"&OK",IDOK,174,36,50,35
END


1                    24     DISCARDABLE "res/tris.manifest"
IDI_APP_ICON		 ICON	DISCARDABLE "res/tris.ico"
IDB_BLACKBOARD       BITMAP DISCARDABLE "res/blackboard.bmp"
IDB_GRID	         BITMAP DISCARDABLE "res/grid.bmp"
IDB_CIRCLE	         BITMAP DISCARDABLE "res/circle.bmp"
IDB_CROSS	         BITMAP DISCARDABLE "res/cross.bmp"

IDC_CHALK_CURSOR     CURSOR	DISCARDABLE "res/chalk.cur"
IDC_CIRCLE_CURSOR    CURSOR	DISCARDABLE "res/circle.cur"
IDC_CROSS_CURSOR	 CURSOR	DISCARDABLE "res/cross.cur"


//IDF_CHALK_FONT       FONT "res/chalk.ttf"
